################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/poc-coveo-search/.vs/poc-coveo-search/v16
/poc-coveo-search/obj
/poc-coveo-search/bin
/poc-coveo-search/.vs/poc-coveo-search/DesignTimeBuild/.dtbcache
/poc-coveo-search/.vs/poc-coveo-search/config
